# Angular build output
dist/
out-tsc/

# Temporary files
tmp/
temp/

# Cache és logok
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IntelliJ / WebStorm
.idea/
*.iml

# Visual Studio Code settings
.vscode/
.history/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Node.js
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment / sensitive config
.env
.env.*
*.local
.env.development
env.development.local
.env.production
env.production.local

# Angular specific environment files (ha van ilyen, feladatfüggő)
src/environments/environment*.ts

# Angualr serverless deploy output
.serverless/

# End of .gitignore
