<div class="hero-section">
    <div class="overlay"></div>
    <div class="hero-content">
      <h1>Üdvözlünk a <span>Woltoora</span> oldalán!</h1>
      <p>Fedezd fel a legfinomabb ételeket, és rendelj kényelmesen online.</p>
      <button mat-raised-button color="accent" (click)="goToFoodList()">Fedezd fel a kínálatot</button>
    </div>
  </div>
  
  <mat-card class="welcome-card">
    <mat-card-title>Miért érdemes nálunk rendelni?</mat-card-title>
    <mat-card-content>
      <ul>
        <li>Gyors kiszállítás</li>
        <li>Minőségi alapanyagok</li>
        <li>Kedvező árak</li>
        <li>Kényelmes online fizetés</li>
      </ul>
    </mat-card-content>
  </mat-card>
  